<div class="card rounded" style="width: 12rem;">
    <div class="card-body">
        <h4 class="card-title h5 text-center text-uppercase">{{card.name}}</h4>
    </div>
    <img class="card-img-top mx-auto" [src]="image" (mouseenter)="changeImage(card.image)" (mouseleave)="changeImage(card.image_back)"/>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">Speed: <span class="badge badge-primary badge-pill" [innerHtml]="card.speed|star"></span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Attack: <span class="badge badge-primary badge-pill" [innerHtml]="card.attack|star"></span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Defense: <span class="badge badge-primary badge-pill" [innerHtml]="card.defense|star"></span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">hp: <span class="badge badge-primary badge-pill" [innerHtml]="card.hp|star"></span></li>
    </ul>
</div>