.fa-star {
    color: gold;
}

img {
    width: 5em;
}

.card {
    border-color: yellow;
    border-width: .7em;
    background-color: #f5f39a;
    margin-right: 1.5em;
    margin-bottom: 2em;
}

.card-body {
    padding: 0.75em;
}

.list-group-item {
    padding: 0.25em 0.75em;
    background-color: transparent;
    border: none;
}