<div id="entete" class="row">
    <div id="titre" class="col-md-9">
        <img src="assets/logo-pokemon.png" class="img-fluid mx-auto d-block" alt="Pokemon"/>
    </div>
    <div class="col-md-3">
        <app-login></app-login>
    </div>
</div>