<div id="deck" class="row" *ngIf="cards">
    <h2 *ngIf="player" class="text-center">deck du joueur {{player}}</h2>
    <div class="col-md-10 d-flex flex-wrap align-content-start">
      <app-card *ngFor="let card of deck.cards" [card]="card"></app-card>
    </div>
    <div class="col-md-2">
      <button class="btn btn-success btn-block" (click)="saveDeck()">Save</button>
      <button class="btn btn-success btn-block" (click)="loadDeck()">Load</button>
    </div>
</div>