
<form>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="player" placeholder="player" name="player">
  </div>
  <button class="btn btn-success btn-block" (click)="login()">Login</button>
</form>
