<div  id="package" class="row">
  <div class="col-md-2">
      <img class="img-fluid" src="assets/paquet.jpg" (click)="newSelection()"/>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline">
          <div class="form-group">
            <label>cacher les pokemons dont l'attaque est inférieur à</label>
            <input type="number" class="form-control mx-sm-3" name="filtre" [(ngModel)]="filter"/>
          </div>
        </form>
      </div>
      <div class="col-md-12 d-flex flex-wrap align-content-start">
        <app-card *ngFor="let card of cards" [card]="card" (click)="selectCard(card)" [hidden]="card.attack < filter"></app-card>
      </div>
    </div>
  </div>
</div>